.app-footer {
	background: color('background');
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 44px;
	border-top: 1px solid color('background','light');
	color: color('text','medium');
	font-size: rem(11px);
}