@import './variables';
@import './colors';

$input-font-size: rem(17px);

@mixin action-button() {
  padding: 0 24px;
  background: color('background');
  border: 1.5px solid color('green');
  border-radius: 30px;
  color: color('green');
  font-size: fontSize('base');
  height: 40px;
  text-transform: uppercase;
  flex: 2;

  &:disabled {
    color: color('background', 'dark');
    border: 1.5px solid color('background', 'dark');
  }

  &:focus {
    outline: none;
  }
}

.cancel-button {
  @include action-button;
  color: color('text');
  border-color: color('text');
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 6px 0px 3px 8px;
  color: color('text', 'light');
  background: color('background', 'dark');
}

form {
  display: flex;
  flex-direction: column;
  padding: 24px 18px 0 18px;
}

@mixin node-textbox() {
  height: 40px;
  padding: 0 18px;
  font-size: fontSize('base');
  background: color('background', 'dark');
  border: none;
  color: color('text', 'light');
  flex: 1;
  border-radius: $border-radius;
  -webkit-box-sizing: border-box;
}

@mixin cancel-button() {
  @include action-button;
  color: color('text');
  border-color: color('text');
}

@mixin select-box() {
  select {
    height: 40px;
    font-size: $input-font-size;
    background: color('background', 'dark');
    color: color('text', 'light');
    overflow: hidden;

    option {
      padding: 0 4px;
    }
  }
}

@mixin node-form() {
  background: color('background');
  text-align: center;

  .tooltip {
    position: relative;
    display: inline-block;
  }

  &__ancillary {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__clippy {
    background: color('background', 'light');
    color: color('text', 'light');
    position: absolute;
    z-index: 1;
    padding: 15px;
    top: -45px;
    right: 150%;
    text-align: left;
    border-radius: $border-radius;
    width: 515px;
  }

  &__clippy::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent color('background', 'light');
  }

  &__inset {
    flex: 4;
    margin-top: 20px;
  }

  &__empty-flex {
    flex: 1;
  }

  input[type="text"], input[type="range"] {
    @include node-textbox();
  }

  .input-invalid {
    border: 1px solid color('primary');
  }

  .validation-error {
    text-align: left;
    font-size: fontSize('diminished');
  }

  &__to-action {
    @include action-button();
  }

  &__display {
    display: flex;
    justify-content: space-between;

    &-label {
      text-align: center;
      color: color('text');
      font-size: fontSize('diminished');
      text-transform: uppercase;
      letter-spacing: fontSize('letter-spacing');
      font-weight: normal;
      flex: 1;
    }

    &-status {
      color: color('white');
      font-size: fontSize('base');
      text-align: right;
      flex: 1;
    }
  }

  &__actions {
    display: flex;

    &--invalid {
      border: 3px solid color('primary');
      border-radius: $error-radius;
    }

  }
}
