<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Substratum Services Inc. All rights reserved.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleDisplayName</key>
	<string>Substratum Node</string>
	<key>CFBundleExecutable</key>
	<string>SubstratumNode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SubstratumNode</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>net.substratum.substratumnode</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0-rc.2</string>
	<key>CFBundleVersion</key>
	<string>864</string>
</dict>
</plist>
